body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}

.sidebar {
    width: 200px;
    background-color: #1e2e78;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #faf7f7;
    border-bottom: 1px solid #ccc;
}

.sidebar ul li a:hover {
    background-color: #070923;
}

.content {
    flex: 1;
    padding: 20px;
}

.sidebar ul li a.active {
    background-color: #4CAF50;
    color: white;

}

h1 {
    background-color:  #1e2e78;
    color: #faf7f7;
    padding: 20px;
    margin: 30px;
}
.content h1 {
    margin: none;
}
